<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399740189546-2rjf1pdt21uhkevlvppflnq0vff2sbsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399740189546-2rjf1pdt21uhkevlvppflnq0vff2sbsp</string>
	<key>API_KEY</key>
	<string>AIzaSyA0PSar3fpKP2lwY2YK3m5NLxNIW9tdnbk</string>
	<key>GCM_SENDER_ID</key>
	<string>399740189546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPlayerMusic</string>
	<key>PROJECT_ID</key>
	<string>musicplayer1-1a13b</string>
	<key>STORAGE_BUCKET</key>
	<string>musicplayer1-1a13b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399740189546:ios:615d163df153303b88c313</string>
</dict>
</plist>